---
import TarjetasMario from '../cards/TarjetasMario.astro'
---

<div
	id='contactooo'
	class='flex flex-col h-full gap-8 w-[30%] sm:w-[80%] md:w-[80%] lg:w-[70%] xl:w-[50%]'
>
	<div class=''>
		<span class='contacta'>
			Contacta con el departamente que necesites o encuentranos en el mapa:
		</span>
	</div>
	<div
		class='grid grid-cols-1 m-auto md:grid-cols-2 md:gap-4 lg:grid-cols-3 lg:gap-10'
	>
		<!-- <TextoAnimadoTelefono /> -->
		<a
			id='scroll-to-camion'
			href='#admi'
		>
			<TarjetasMario
				telefono='686 944 932'
				jefes='administracion'
				departamento='Administración'
			/>
		</a>
		<a
			id='scroll-to-camion2'
			href='#cajas'
		>
			<TarjetasMario
				telefono='657 803 024'
				jefes='ventas'
				departamento='Ventas'
			/>
		</a>
		<a
			id='scroll-to-camion3'
			href='#miVideo'
		>
			<TarjetasMario
				telefono='657 803 024'
				jefes='logistica'
				departamento='Logística'
			/>
		</a>
		<a
			id='scroll-to-camion4'
			href='#diseñando'
		>
			<TarjetasMario
				telefono='657 803 024'
				jefes='diseño'
				departamento='Diseño'
			/>
		</a>
		<a
			id='scroll-to-camion5'
			href='https://goo.gl/maps/aF9KwAe88DQVdV427'
			target='_blank'
		>
			<TarjetasMario
				telefono='968 693 575'
				jefes='maps'
			/>
		</a>
	</div>
</div>

<style>
	:global(.light) .contacta {
		color: var(--auxi2);
	}
	a {
		scroll-behavior: smooth;
	}
</style>
