---
import { Counter } from '@/components/Counter.jsx'
---

<div class='bordeRojo m-2 p-2 rounded-lg flex flex-col flex-1'>
	desde el bodyAsideMenu
	<Counter
		transition:persist
		client:visible
	/>
</div>
