---
import AsideMenu from '@/components/AsideMenu.astro'
import FooterMenu from '@/components/footer/FooterMenu.astro'
import Footer from '@/components/footer/footer-old/Footer.astro'
import HeaderMenu from '@/components/header/HeaderMenu.astro'
---

<main class='body dil-barra-desplazamiento'>
	<div
		class='asideMenu p-2 [grid-area:aside] flex flex-col overflow-y-auto w-full'
	>
		<AsideMenu />
	</div>
	<div class='mainMenu [grid-area:main] overflow-y-auto'>
		<HeaderMenu />
		<div class='vid p-2 m-2'>
			<slot />
		</div>
	</div>
</main>
<div
	class='[grid-area:footer] h-[88px] flex flex-col justify-center items-center'
>
	<FooterMenu />
</div>
<div
	class='[grid-area:aviso] bg-black flex flex-col justify-center items-center'
>
	<Footer />
</div>

<style>
	.body {
		display: grid;
		grid-template-areas:
			'aside main main'
			'footer footer footer'
			'aviso aviso aviso';
		grid-template-columns: 225px 1fr;
		grid-template-rows: 1fr auto;
	}
</style>
